body {
  background-color:#ccc;
  font-family:Arial;
  margin:0;
  padding:0;
}

iframe {
  width:450px;
  height:350px;
  margin-bottom:20px;
}
p {
  color:#222;
}

a {
  color:#222;
}

footer a {
  color:#fff;
}

section p {
  line-height:22px;
}

main {
  margin:0;
  padding:0;
  background-color:#E63333;
  width:100%;
  display:block;
  max-width:1000px;
  margin-left:calc(50% - 500px);
}

header {
  width:100%;
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:30px;
}

header img {
  margin-left:100px;
  margin-right:100px;
  display:inline-block;
  vertical-align:middle;
}

.small {
  font-size:10px;
}

.big {
  font-size:16px;
  font-weight:bold;
}

.circle {
  padding:10px;
  font-size:13px;
  border-radius:100%;
  width:200px;
  height:200px;
  line-height: 200px;
  text-align: center;
  vertical-align:center;
  display:inline-block;
  background-color:#FBB332;
}

.circle span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h1 {
  font-size:30px;
  color:#E63333;
}

section {
  text-align:left;
  padding:4%;
  padding-top:2%;
  margin:5%;
  margin-top:2%;
  width:82%;
  background-color:#fff;
}

footer {
  text-align:center;
  padding-left:4%;
  padding-right:4%;
  margin-left:5%;
  margin-right:5%;
  width:82%;
  color:#fff;
  padding-bottom:30px;
}

footer p {
  color:#fff;
  font-size:13px;
  margin:0;
  padding:0;
  margin-left:11px;
  margin-right:11px;
  display:inline-block;
}

nav {
  text-align:center;
  padding-left:4%;
  padding-right:4%;
  margin-left:5%;
  margin-right:5%;
  width:82%;
  color:#fff;
}

nav a {
  text-decoration:none;
  color:inherit;
  margin-left:11px;
  margin-right:11px;
}

nav a:hover {
  color:#ccc;
}

.clear {
  background-color:inherit;
  padding:0%;
}

.content {
  background-color:#fff;
  width:100%;
  width:68%;
  display:inline-block;
  float:left;
}

.sidebar {
  background-color:#fff;
  width:100%;
  text-align:center;
  width:28%;
  display:inline-block;
  float:right;
}

.left {
  display:inline-block;
  float:left;
  width:49%;
}

.right {
  display:inline-block;
  float:right;
  width:49%;
  text-align:right;
}

p {
  padding-top:0;
  margin-top:0;
}

.clear {
  display:block;
  margin-bottom:25px;
  clear:both;
}

table, tr {
  border-spacing:0;
  border-collapse: collapse;
  border:1px solid #ccc;
}

td {
  border-spacing:0;
  border-collapse: collapse;
  border-bottom:1px solid #ccc;
  text-align:center;
  font-size:14px;
}

.text-left {
  text-align:left;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

@media (max-width: 1000px) {
  main {
    margin:0;
    width:100%;
  }

  .left {
    float:none;
    width:100%;
    text-align:center;
  }

  .right {
    float:none;
    width:100%;
    text-align:center;
  }

  .content {
    float:none;
    width:100%;
    text-align:center;
  }

  .sidebar {
    float:none;
    width:100%;
    text-align:center;
  }

  nav a {
    display:block;
    padding:10px;
  }
  
  p {
    display:block;
    width:100%;
    text-align:left;
  }
  
  ul {
    display:block;
    text-align:left;
  }

  footer p {
    display:inline-block;
    width:inherit;
    padding:10px;
  }

.white {
  color:#fff;
}

  .circle {
    display:inline-block;
    background-color:inherit;
    border-radius:0;
    border:0;
    text-align:center;
    color:#fff;
    padding-bottom:0;
    margin-bottom:0;
  }

  .circle:first-child {
    display:none; 
  }

  .circle span {
    text-align:center;
    margin-bottom:0;
    padding-bottom:0;
  }
  .circle p {
    color:#fff;
    text-align:center;
    margin-bottom:0;
    padding-bottom:0;
  }

  section img {
    width:100%;
  }

  h1 {
    text-align:center;
  }

  h2 {
    text-align:center;
  }
  
  iframe {
    width:100%;
  }
  
  td {
    display:block;
  }
}
